<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Services</title>
  </head>
  <body>
    <h1>Services</h1>
  <a href="{% url 'weddingevent' %}" class="btn btn-primary">weddingevent</a>
  <a href="{% url 'partiesevent' %}" class="btn btn-primary">partiesevent</a>
  <a href="{% url 'technicalevent' %}" class="btn btn-primary">technicalevent</a>
  <a href="{% url 'collegeevent' %}" class="btn btn-primary">collegeevent</a>
  </body>
</html>